.footer{
    background-color: rgb(167, 44, 44);
    height: 350px;
    width: 100%;
    align-self: flex-end;
    margin-top: 60%;   
    background-image: url(../img/Katia-50x100.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}
.footer__circle{
    width: 100%;
    height: 250px;
    background-color: black;
    border-radius: 0% 200% 80% 80%/0% 0% 100% 100%;

}