@charset "UTF-8";
header {
  background: var(--color-graybase-700);
  width: 100%;
}

.header {
  background: url("https://plitkazavr.ru/images/41zero42/Paper41-Up/Katia-50x100.jpg");
  text-align: center;
  width: 100%;
  height: auto;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 85% 85%/30%;
}

header .overlay {
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #FFF;
  text-shadow: 1px 1px 1px #333;
  background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 80px;
  margin-bottom: 30px;
  text-shadow: 1px 1px 2px black, 0 0 1em #6a00ff, 0 0 0.2em #6a00ff;
}

h3, p {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
}

h3 {
  font-size: 25px;
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 50px;
  color: #333;
  background: #fff;
  margin-bottom: 50px;
  box-shadow: 0 3px 20px 0 #0000003b;
}

button:hover {
  cursor: pointer;
}

.slider {
  max-width: 90%;
  position: relative;
  margin: auto;
  height: 300px;
  margin-bottom: 15px;
  background-color: rgba(35, 17, 74, 0.607);
  object-fit: cover;
  border: none !important;
  box-shadow: none !important;
  margin-top: 100px;
}

.item img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  border: none !important;
  box-shadow: none !important;
}

/* Кнопки вперед и назад */
.slider .prev, .slider .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.slider .prev:hover,
.slider .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.slideText {
  position: absolute;
  color: #fff;
  font-size: 35px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 30px;
  text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

.slideMessage {
  position: absolute;
  position: absolute;
  color: #f3f3f3;
  font-size: 22px;
  left: 50%;
  top: 50%;
  padding-top: 50px;
  transform: translate(-50%, -50%);
  text-shadow: 1px 1px 1px #000, 0 0 1em #000;
}

.slider-dots {
  text-align: center;
}

.slider-dots_item {
  cursor: pointer;
  height: 12px;
  width: 12px;
  margin: 0 2px;
  background-color: #ddd;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active,
.slider-dots_item:hover {
  background-color: #aaa;
}

.slider .item {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.footer {
  background-color: #a72c2c;
  height: 350px;
  width: 100%;
  align-self: flex-end;
  margin-top: 60%;
  background-image: url(../img/Katia-50x100.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: linear-gradient(135deg, #9f05ff69 10%, #fd5e086b 100%);
}

.footer__circle {
  width: 100%;
  height: 250px;
  background-color: black;
  border-radius: 0% 200% 80% 80%/0% 0% 100% 100%;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: black;
  z-index: 1001;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -32px;
  margin-left: -32px;
  background: url("Preloader_10.gif") no-repeat 50% 50%;
  /*расположение (url) изображения gif и др. параметры*/
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

.loader span {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0px 0px 15px 10px rgba(34, 60, 80, 0.7);
}

.loader__tittle {
  padding-top: 40px;
  width: 300px;
  height: 50px;
  font-size: 30px;
  text-shadow: 2px 2px 2px black, 0 0 1em black;
  color: #ffffff;
  margin: auto;
  padding-left: 25px;
}

.loader {
  position: relative;
  width: 50px;
  height: 50px;
  border: 4px solid #0b1b48;
  animation: loader 2s infinite;
  left: 48%;
  margin-top: 100px;
}

@keyframes span1 {
  from {
    transform: translate(0);
  }
  50% {
    transform: translate(50px, 0);
    border-color: #ee4d68;
    box-shadow: 0px 0px 15px 10px #ee4d68;
  }
  to {
    transform: translate(0);
  }
}
.loader span:nth-child(1) {
  animation: span1 2s infinite;
}

.loader span:nth-child(2) {
  animation: span2 2s infinite;
}

.loader span:nth-child(3) {
  animation: span3 2s infinite;
}

.loader span:nth-child(4) {
  animation: span4 2s infinite;
}

@keyframes span2 {
  from {
    transform: translate(0);
  }
  50% {
    transform: translate(0, 50px);
    border-color: #ff9011;
    box-shadow: 0px 0px 15px 10px #ff9011;
  }
  to {
    transform: translate(0);
  }
}
@keyframes span3 {
  from {
    transform: translate(0);
  }
  50% {
    transform: translate(-50px, 0);
    border-color: #f5ff6b;
    box-shadow: 0px 0px 15px 10px #f5ff6b;
  }
  to {
    transform: translate(0);
  }
}
@keyframes span4 {
  from {
    transform: translate(0);
  }
  50% {
    transform: translate(0, -50px);
    border-color: #6bff6b;
    box-shadow: 0px 0px 15px 10px #6bff6b;
  }
  to {
    transform: translate(0);
  }
}
@keyframes loader {
  from {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-135deg);
  }
  to {
    transform: rotate(-225deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 2000px;
  background-color: black;
  background-image: url(../img/ZgpuSqtwF94.jpg);
}

/*# sourceMappingURL=main.css.map */
