@import "header.scss";
@import "sliders.scss";
@import "footer.scss";
@import "loader.scss";
@import "animation.scss";
*{
    padding: 0; margin: 0; box-sizing: border-box;
}
body{
    height: 2000px;
    background-color: black;
    background-image: url(../img/ZgpuSqtwF94.jpg);

}
